.img-ratio-pic-card-2 {
  width: 60vw;
  transition: all 1s;
  border-radius: .5rem;
  box-shadow: 0px 2px 4px 2px #0000002e;
}

.bottom {
  background: transparent linear-gradient(180deg, #00000000 0%, #00000080 100%) 0% 0% no-repeat padding-box;

  .name-city {
    color: white;
    font-weight: bold;
  }

  .club-name {
    font-size: 1.6rem;
  }

  .club-city {
    font-size: 1.4rem;
  }
}