<div *ngIf="(clubIsLoaded$ | async) == true"
  class="about-container">
  <div class="section-title">
    <span>{{ title$ | async }}</span>
  </div>
  <div class="about-content">
    <p *ngIf="seeMore === false && (clubDescription$ | async)?.length <= 100" class="description-text">{{ (clubDescription$ | async) }}</p>
    <p *ngIf="seeMore === false && (clubDescription$ | async)?.length > 100" class="description-text">{{ (clubDescription$ | async) | slice:0:100 }}...</p>
    <p *ngIf="seeMore === true" class="description-text">{{ (clubDescription$ | async) }}</p>
    <div class="see-more">
      <span *ngIf="seeMore === false && (clubDescription$| async)?.length > 100 " (click)="seeMore = true">{{ 'see_more'  | translate }}</span>
      <!-- TODO: add translation -->
      <span *ngIf="seeMore === true" (click)="seeMore = false">{{ 'see_less' | translate }}</span>
    </div>
  </div>
</div>

<div *ngIf="(clubIsLoading$ | async) == true"
  class="skeleton"
>
  <div class="skeleton section-title">
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
  </div>
  <p class="skeleton">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </p>
  <p class="skeleton">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </p>
  <p class="skeleton">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </p>
</div>

