p {
  color: #7E8483;
  box-shadow: 0 0 .5rem .5rem rgba(173, 181, 189, 0.1);
  border-radius: .5rem;
  width: auto;
  height: auto;
  padding: .5rem;
  text-align: center;
  margin-left: .5rem;
  margin-right: .5rem;
}
