app-club-reviews {
  background: #F6F6F8;
}

app-button-round {
  display: block;
  position: sticky;
  bottom: 2rem;
  width: 75%;
  margin: 0 auto;
}

.no-border {
  .item-inner {
    border: none!important;
  }
}


