// Padding
.do-p-0 {
  padding: 0;
}

.do-p-0-5 {
  padding: 0.5rem;
}

.do-p-1 {
  padding: 1rem;
}

.do-p-1-2 {
  padding: 1rem 2rem;
}

.do-p-1-5 {
  padding: 1.5rem;
}

.do-p-2 {
  padding: 2rem;
}

.do-p-3 {
  padding: 3rem;
}

.do-p-4 {
  padding: 4rem;
}

// Padding Top
.do-pt-0-5 {
  padding-top: .5rem;
}

.do-pt-1 {
  padding-top: 1rem;
}

.do-pt-1-5 {
  padding-top: 1.5rem;
}

.do-pt-2 {
  padding-top: 2rem;
}

.do-pt-3 {
  padding-top: 3rem;
}

.do-pt-4 {
  padding-top: 4rem;
}

// Padding bottom
.do-pb-1 {
  padding-bottom: 1rem;
}

.do-pb-1-5 {
  padding-bottom: 1.5rem;
}

.do-pb-2 {
  padding-bottom: 2rem;
}

.do-pb-3 {
  padding-bottom: 3rem;
}

.do-pb-4 {
  padding-bottom: 4rem;
}

// Padding Right
.do-pr-0 {
  padding-right: 0;
}

.do-pr-0-5 {
  padding-right: .5rem;
}

.do-pr-1 {
  padding-right: 1rem;
}

.do-pr-1-5 {
  padding-right: 1.5rem;
}

.do-pr-2 {
  padding-right: 2rem;
}

.do-pr-3 {
  padding-right: 3rem;
}

.do-pr-4 {
  padding-right: 4rem;
}

.do-pr-7 {
  padding-right: 7rem;
}

// Padding left
.do-pl-0 {
  padding-left: 0;
}

.do-pl-0-5 {
  padding-left: .5rem;
}

.do-pl-1 {
  padding-left: 1rem;
}

.do-pl-1-5 {
  padding-left: 1.5rem;
}

.do-pl-2 {
  padding-left: 2rem;
}

.do-pl-3 {
  padding-left: 3rem;
}

.do-pl-4 {
  padding-left: 4rem;
}

.do-pl-7 {
  padding-left: 7rem;
}

// Padding x
.do-px-0 {
  padding-right: 0;
  padding-left: 0;
}

.do-px-0-5 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.do-px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.do-px-1-5 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.do-px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.do-px-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.do-px-4 {
  padding-right: 4rem;
  padding-left: 4rem;
}

// Padding y
.do-py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.do-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.do-py-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.do-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.do-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.do-py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.offset-header-v1 {
  padding-top: var(--header-v1-height);
}
