ion-header {
  /* TODO: CSS variable */
  box-shadow: 0px 3px 6px #00000029;
  transition: all  400ms linear;
}

app-date-select,
app-header {
  padding: 0.5rem 2rem 1rem 2rem;
}

.add-btn {
  height: auto;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  font-size: 3rem;
  color: white;
}


ion-button::part(native) {
  height: auto;
  padding: 1rem;
  /* TODO: CSS variable */
  box-shadow: 0px 2px 6px 2px rgba(216, 216, 216, 40%);// #1c93dd69;
}

.filters-bar {
  transition: height 5s linear;
}

.page-title {
	font-size: 2rem;
}

.club-name{
  font-size: 0.55em;
	font-weight: 1000;
}

ion-content {
  --background: #f5f5f8 !important;
}

ion-content {
  background: #f5f5f8 !important;
}