.matches-container {
  padding: 1rem 0;
}

.hide-tablet {
  display: block;
}
.show-tablet {
  display: none;
}

@media only screen 
  and (min-width: 768px) {
    .header-center {
      justify-content: center;
    }
    .dspl-blck {
      width: 50%;
	    margin: auto;
    }
    .hide-tablet {
      display: none;
    }
    .show-tablet {
      display: block;
    }
    :host ::ng-deep app-match-card-tablet .tablet-subtitle {
      text-align: center;
	    font-size: 1.6em;
    }
  }

  ion-content .matches-container{
    background-color: #f5f5f8 !important;
  }

  .eventDay {
    background-color: white !important;
  }