<ion-footer>
  <div *ngFor="let payment of payments" class="flex jcsb margin-bottom price-detail">
      <div class="first-letter-cap flex">
          {{ payment.provider }}
      </div>
      <div class="flex">
          -{{ payment.amount | price_format: clubCurrency }}
      </div>
  </div>
  <div class="flex jcsb">
    <div class="page-title flex">
      {{ "shop_cart_total_to_pay" | translate }}
    </div>
    <div class="page-title flex">
      {{ restToPay | price_format: clubCurrency }}
    </div>
  </div>
  <ion-button mode="ios" expand="block" class="btn-next" (click)="pay()" [disabled]="isDisable"
  data-test="pay-shop">
    <div class="do-p-2">
      {{ "pay" | translate }}
    </div>
  </ion-button>
</ion-footer>
