<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div formGroupName="changePassword">
        <div class="form-group">
            <label class="form-label">
                {{ 'new_password' | translate }}
            </label>
            <input class="form-input"
                [class.form-input-error]="(!form['controls'].changePassword['controls'].password.valid || form['controls'].changePassword.hasError('mismatch')) && (form['controls'].changePassword['controls'].password.dirty || submitAttempt)"
                formControlName="password"
                type="password"
                placeholder="*********">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div *ngIf="form.get('changePassword').get('password').hasError(validation.type) &&
                    (form.get('changePassword').get('password').dirty || submitAttempt)"
                    class="error-message">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <label class="form-label">
                {{ 'confirm_password'| translate }}
            </label>
            <input class="form-input"
                [class.form-input-error]="(!form['controls'].changePassword['controls'].repeat.valid || form['controls'].changePassword.hasError('mismatch') ) && (form['controls'].changePassword['controls'].repeat.dirty || submitAttempt)"
                type="password"
                formControlName="repeat"
                placeholder="*********">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div *ngIf="form.get('changePassword').get('repeat').hasError(validation.type) &&
                    (form.get('changePassword').get('repeat').dirty || submitAttempt)"
                    class="error-message">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ng-container *ngFor="let validation of validationMessages.password">
            <div *ngIf="form.get('changePassword').hasError(validation.type) &&
                (form.get('changePassword').get('repeat').dirty || submitAttempt)"
                class="error-message">
                {{ validation.message }}
            </div>
        </ng-container>
        <div *ngIf="form.get('changePassword').hasError('serverSide') &&
            (form.get('changePassword').dirty || submitAttempt)"
            class="error-message">
            {{ form.get('password').getError('serverSide') }}
        </div>
    </div>

    <div class="form-group">
        <ion-button
            mode="ios"
            color="secondary"
            expand="block"
            class="btn-next"
            type="submit"
            [disabled]="!form.valid">
            <div class="do-p-2">
                {{ 'validate' | translate }}
            </div>
        </ion-button>
    </div>
</form>

