.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-label {
    font-size: var(--app-font-size);
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #092772;
  }

  .form-label.error {
    color: var(--ion-color-danger);
  }

  .error-message {
    margin-top: 1rem;
    color: var(--ion-color-danger);
    font-weight: 600;
    font-size: 1.3rem;
  }

  .form-input {
    border-radius: .5rem;
    border: 1pt solid #2e3138;
    font-size: 2rem;
    font-weight: 700;
    min-height: 3rem;
    max-height: 3rem;
    text-align: left;
    padding-left: 1rem;
    display: block;
    width: 100%;
  }

  /* .form-btn-validate {
    background: #FF483B;
    box-shadow: 0 0 3px 2px #FF81845A;
    border-radius: .9rem;
    width: 100%;
    margin-top: .5rem;
    padding: 1rem;
    color: white;
  } */
}
