.my-booking-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* TODO: CSS variable */
  border-radius: .9rem;

  .img-block {
    position: relative;
    /* TODO: CSS variable */
    border-radius: .9rem;

    ion-img.my-booking-club-img {
      position: absolute;
      min-height: 100%;
      width: 100%;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      /* TODO: CSS variable */

      &::part(image) {
        border-radius: .9rem;
      }
    }

    &.large-img {
      width: 30vw;
      height: 30vw;
    }

    &.medium-img {
      width: 25vw;
      height: 25vw;
    }
  }

  .booking-info {
    // width: 60%;
    padding: 0 1rem;
    /* TODO: CSS variable */
    border-radius: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;

    &.large {

      .date-booking {
        font-size: 1.4rem;
      }

      .club-booking {
        font-size: 1.8rem;
        text-align: left;
      }

      .duration-price-booking {
        font-size: 1.4rem;
        text-align: left;
      }

      ion-button::part(native) {
        font-size: 1.2rem;
      }
    }

    &.medium {

      .date-booking {
        font-size: 1.2rem;
      }

      .club-booking {
        font-size: 1.6rem;
      }

      .duration-price-booking {
        font-size: 1.2rem;
      }

      ion-button::part(native) {
        font-size: 1rem;
      }
    }

    .date-booking {
      display: flex;
      align-items: center;
      /* TODO: CSS variable */
      color:#989898;
      font-weight: 500;
      align-self: flex-start;

      & span::first-letter {
        text-transform: capitalize;
      }
    }

    .club-booking {
      /* TODO: CSS variable */
      color: #3E3F68;
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .duration-price-booking {
      /* TODO: CSS variable */
      color: #3E3F68;
      font-weight: 500;
    }

    ion-button {
      width: 100%;
      height: fit-content;
      margin: 0;
      --border-radius: .5rem;
    }

    ion-button::part(native) {
      padding: 0.5rem;
      font-weight: bold;
      justify-content: space-around;
    }

  }
}

@media only screen 
  and (min-width: 768px) and (max-width:1110px){
    .my-booking-block .booking-info ion-button{
      font-size: 0.2em !important
    }
  }


@media only screen 
  and (min-width: 768px) {
    .img-block {
      width: 15vw !important;
      height: 15vw !important;
    }
    .booking-info {
      margin-left: 2rem !important;
      justify-content: center !important;
    }
    .date-booking {
      font-size: 1.5rem !important;
    }
    .club-booking {
      font-size: 2.5rem !important
    }
    .duration-price-booking {
      font-size: 1.7rem !important;
    }
    .go-to-booking-btn {
      font-size: 3.8rem;
    }
  }

// Media Queries
@media (max-width: 390px) {

  .booking-info {
    ion-button::part(native) {
      padding: 0.2rem;

      &.large {

        .date-booking {
          font-size: 1.1rem;
        }

        .club-booking {
          font-size: 1.6rem!important;
        }

        .duration-price-booking {
          font-size: 1.8rem;
        }

        ion-button::part(native) {
          font-size: 1.4rem;
        }
      }

      &.medium {

        .date-booking {
          font-size: 1.2rem;
        }

        .club-booking {
          font-size: 1.6rem;
        }

        .duration-price-booking {
          font-size: 1.2rem;
      }

        ion-button::part(native) {
          font-size: 1.2rem;
        }
      }
    }

    /* .date-booking {
      font-size: 1.2rem!important;
    }

    .club-booking {
      font-size: 1.6rem!important;
    }

    .duration-price-booking {
      font-size: 1.4rem!important;
    }
 */
  }
}
