.tabs-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .tabs-item {
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    color: #8B99BB;
    border-bottom: 1px solid #8B99BB;
  }
  .tabs-item.active {
    color: #4251F8;
    font-weight: 700;
    border-bottom: 3px solid #4251F8;
  }
}

@media only screen 
  and (min-width: 768px) {
    ion-segment{
      width: 40% !important;
      margin: auto !important;
      margin-bottom: 20px !important;
    }
}