.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img-logo {
        width: 50%;
    }

    .title {
        font-size: x-large;
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
        padding: 20px;
        line-height: 20px;
    }

    label {
        margin: 20px;
    }
    ion-button {
        margin: 20px;
        width: 70%;
        height: 10%;
    }
}
