.block-friend-short {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--app-dark-or-not-color);
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-radius: 1rem;
  .center {
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
  }
  .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .name {
    font-weight: 700;
    font-size: var(--app-font-size);
  }
}
