.club-distance {
  /* TODO [CSS variable] */
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;

  .icon-container {
    width: 1.4rem;
  }

}

@media only screen 
  and (min-width: 768px) {
    .club-distance{
      font-size: 2rem  !important;
    }
}


