<div
     class="card-sign-in top-element-bs">
    <div class="label-delete-password">
        <p>
            {{ 'enter_password' | translate }}
        </p>
    </div>
    <ion-grid
              style="width: 100%;">
        <ion-row>
            <ion-col>
                <input class="password-input"
                       data-test="inputPassword"
                       type="password"
                       (focusin)="isFocus = true"
                       (focusout)="isFocus = false"
                       (change)="passwordChange()"
                       [(ngModel)]="password"
                       placeholder="******" />
                <div *ngIf="errorPhoneMessage != ''"
                     class="error-message">
                    {{ errorPhoneMessage }}
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="btn-next btn-confirm-password"
                            data-test="confirmPassword"
                            mode="ios"
                            fill="solid"
                            expand="block"
                            (click)="confirmPassword()">
                    <div class="do-p-2">
                        {{ 'validate' | translate }}
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
