.card-sign-in {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
// margin: 2rem auto;
    /* TODO: CSS variable */
    border-radius: .9rem;
}

.card-sign-in.error {
    label {
        color: var(--ion-color-danger);
}
.error-message {
    margin-top: 1rem;
    color: var(--ion-color-danger);
    font-weight: 600;
    font-size: 1.3rem;
    }
}

input.password-input {
    border-radius: .5rem;
    /* TODO: replace with class or variable */
    border: 1px solid #adadad;
    font-size: 2rem;
    font-weight: 700;
    min-height: 3rem;
    max-height: 3rem;
    text-align: left;
    padding-left: 1rem;
    display: block;
    width: 100%;
}
