.event-date-type-container  {
  text-transform: uppercase;
  /* TODO: add a variable for light thin text */
  font-weight: 400;

  span.clock-icon {
    display: flex;
  }
  
  span.dot {
    display: block;
    width: .2rem;
    height: .2rem;
    background: gray;
    border-radius: 50%;
  }
  
}
