<div class="subsection-title">
  {{ 'sport' | translate }}
</div>
<div class="flex jcs">
  <app-activity-levels
    class="dspl-blck mb-1"
    [activityName]="eventSport"
    [levels]="eventLevels"
    [colors]="levelsColors">
  </app-activity-levels>
</div>
<div class="subsection-title">
  {{ 'level' | translate }}
</div>
<div class="flex jcs">
  <app-activity-levels
    class="dspl-blck mb-1"
    [activityName]="eventSport"
    [levels]="eventLevels"
    [colors]="levelsColors">
  </app-activity-levels>
</div>
<div class="subsection-title">
  {{ 'category' | translate }}
</div>
<div class="subsection-title">
  {{ 'closes_at' | translate }}
</div>
<div class="subsection-title">
  {{ 'cancellation_policy' | translate }}
</div>