.modal-content-duration {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 19px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    color: #1A1A1A;
  }
  .subtitle {
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: #8B8B92;
  }
  .section-title-duration {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    color: #1A1A1A;
  }

  .durations {
    min-height: 90px;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    .duration-bloc {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      min-width: 100px;
      max-width: 200px;
      padding: 3px;
      margin-right: 5px;
      span {
        border: 2px solid #8A98BA;
        border-radius: 7px 7px 0 7px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        color: var(--ion-color-primary);
        background-color: var(--ion-color-primary-contrast);
      }
      label {
        color: #1E2022;
        font-size: 11px;
        font-weight: 700;
        width: 100%;
        margin-top: 5px;
        text-align: center;
      }
    }
    .duration-bloc:hover {
      span {
        color: var(--ion-color-primary-contrast);
        background-color: var(--ion-color-primary);
      }
      label {
        font-weight: 900;
      }
    }
  }
}
