<ion-grid class="w-100 do-p-1">
  <ion-row class="block-playground-filter">
    <ion-col size="{{isBySlot ? 6 : 12}}" (click)="openFilterModal()" class="info-filter" data-test="open-filter-modal">
      <button class="btn-filter">
        <ion-icon
          color="primary"
          src="assets/icon/globals/filter.svg"
          class="rotateimg90"
        >
        </ion-icon>
      </button>
      <div class="title" *ngIf="selectedActivity">
        {{ selectedActivity }}
      </div>
      <div class="title" *ngIf="!selectedActivity">
        {{ "activity.all" | translate }}
      </div>
    </ion-col>

    <ion-col *ngIf="!coursSelected && !eventSelected && isBySlot" size="{{isBySlot ? 6 : 12}}">
      <div class="select-time-range">
        <button (click)="previousRangeTime()" class="btn-arrow-left">
          <ion-icon color="primary" name="chevron-back-outline"></ion-icon>
        </button>
        <div class="value">
          {{ startTime.format("HH:mm") }} - {{ endTime.format("HH:mm") }}
        </div>
        <button (click)="nextRangeTime()" class="btn-arrow-right">
          <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
