<ion-header *ngIf="isPage" class="header-account">
    <ion-toolbar class="toolbar-account 2">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div [style]="backgroundImage?'color: white; font-weight: 900;':''" class="page-title text-center">{{ title | translate }}</div>
            <div *ngIf="subtitle"
                 class="page-subtitle text-center">{{ subtitle | translate }}</div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-grid *ngIf="!isPage" class="header w-100"
          [style]="backgroundImage?
          'position: relative; min-height: 130px; color: white; background-image: url(\'' + backgroundImage + '\'); background-size: cover; background-position: center;':
          ''">
    <ion-row class="w-100">
        <ion-col size="2"
            class="flex aic jcc">
            <img *ngIf="!removeBackArrow" (click)="backAction()" [style]="backgroundImage?'padding: 3px; background-color: white; border-radius: 50%; width: 20px; height: 20px':''" src="assets/icon/globals/arrow-back.svg" class="icon-back">
        </ion-col>
        <ion-col size="8">
            <div [style]="backgroundImage?'color: white; font-weight: 900;':''" class="page-title text-center">{{ title | translate }}</div>
            <div *ngIf="subtitle"
                class="page-subtitle text-center">{{ subtitle | translate }}</div>
        </ion-col>
        <ion-col size="2" class="flex aic">
            <ion-label *ngIf="showDone"
                       class="w-100 text-primary"
                       (click)="closeDone()"
                       data-test="closeDone">
                {{ 'done' | translate }}
            </ion-label>
        </ion-col>
    </ion-row>
    <div *ngIf="backgroundImage" class="effect-bottom-header"></div>
</ion-grid>
<ng-content></ng-content>
