.service-chips-container {
  overflow-x: scroll;
}

.icon-container {

  object {
    width: 5rem;
    height: 5rem;
    padding: 2rem;
    background: #D2D7E4;
    border-radius: 2rem;
  }
}

.service-name {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
