.header-booking-playground {
  z-index: 9;
  position: sticky;
  top:0;
  left: 0;
  right: 0;
  height: 18.5rem;
  .title-block {
    max-height: 50pt;
    min-height: 50pt;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .btn-icon-back {
      width: 1rem;
      height: 1rem;
      position: absolute;
      margin: 1rem;
      left: 1rem;
      z-index: 10;
    }
    .title {
      position: absolute;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2rem;
    }
    .subtitle {
      position: absolute;
      margin-top: 2.5rem;
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 2rem;
    }
  }

}
.calendar-block {
  // min-height: 200pt;
  .title {
    width: 100%;
    display: block;
    color: var(--app-font-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .subtitle {
    display: block;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    font-size: var(--app-font-size);
    font-weight: 800;
    font-family: 'Panton-Black';
    font-size: 1.1em !important;
  }
  
}

.subtitle {
  font-size: 0.75em !important;
}

.page-title {
  font-size: 2rem !important;
	padding-top: 5px !important;
}

.wrapped-switch{
  width: 202px;
	margin: auto;
	background: #F3F5F8;
	margin-top: 15px;
	border-radius: 12px;
}

.no-switch {
  display: inline-block;
	width: 100px;
  text-align: center;
  color: #BABABA;
  padding: 3px;
  cursor: pointer;
}

.active-switch {
  background: var(--ion-color-primary);
	border-radius: 12px;
  color: white;
  font-weight: 800;
}