/* TODO: delete if unuesed */
/* .block-item {
  min-width: 100%;
  max-width: 100%;
  height: 3.5rem;
  text-align: center;
  align-items: center;
  position: relative;
  display: table-cell;
  margin-right: 2rem;
  padding-top: 7pt;
  border-radius: .5rem;
  color: #3E3F68;
  font-size: var(--app-font-size);
  font-weight: 600;
  border: 1pt solid #3E3F68;
}

.block-item.active {
  color: white;
  border: 1pt solid #4251F8;
  background-color: #4251F8;
} */
