<app-default-header
        [title]="'change_your_password'"
        [subtitle]=""
        (back)="close()">
</app-default-header>
<ion-content>
    <ion-grid no-padding>

        <ion-row>
            <ion-col>
                <div class="flex do-p-2">
                    <div class="section-title">
                        {{ 'change_password_old' | translate }}
                    </div>
                    <div class="title-stroke"></div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="do-px-2">
            <ion-col class="form-group">
                <ion-input class="form-input" [ngClass]="{'error-input': notActualPassword}"
                    type="password"
                    [(ngModel)]="oldPassword"
                    placeholder="{{ 'old_password' | translate }}">
                    <i class="icon ion-ios-telephone"></i>
                </ion-input>
                <small *ngIf="notActualPassword">* {{notActualPasswordString}}</small>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="flex do-p-2">
                    <div class="section-title">
                        {{ 'change_password_new' | translate }}
                    </div>
                    <div class="title-stroke"></div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="do-px-2">
            <ion-col class="form-group">
                <ion-input class="form-input" [ngClass]="{'error-input': passwordLength || passwordNotMatching}"
                    type="password"
                    [(ngModel)]="newPassword"
                    placeholder="{{ 'new_password' | translate }}">
                    <i class="icon ion-ios-telephone"></i>
                </ion-input>
                <small *ngIf="passwordLength">* {{passwordLengthString}}</small>
                <small *ngIf="passwordNotMatching">* {{passwordNotMatchingString}}</small>
            </ion-col>
        </ion-row>

        <ion-row class="do-px-2">
            <ion-col class="form-group">
                <ion-input class="form-input" [ngClass]="{'error-input': passwordLength || passwordNotMatching}"
                    type="password"
                    [(ngModel)]="confirmPassword"
                    placeholder="{{ 'new_password_confirm' | translate }}">
                    <i class="icon ion-ios-telephone"></i>
                </ion-input>
                <small *ngIf="passwordLength">* {{passwordLengthString}}</small>
                <small *ngIf="passwordNotMatching">* {{passwordNotMatchingString}}</small>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-button
        [disabled]="confirmPassword == '' || newPassword == '' || oldPassword == ''"
        class="btn-next"
        (click)="confirm()"
        mode="ios"
        expand="block"
        color="primary">
        <div class="do-p-2">
            {{ 'update' | translate }}
        </div>
    </ion-button>
</ion-footer>
