// BOOKING CREATE SUCCESS
.booking-create-success {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  z-index: 999;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .touch {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen 
  and (min-width: 768px) {
    .request-result-title {
      font-size: 2.5em;
      margin-top: 11px;
    }
    
    .image-success {
    	width: 60%;
    }

    .btn-next {
      width: 100%;
    }
}

.agenda-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  ion-icon {
    font-size: 21px;
  }
  span {
    margin-left: 10px;
  }
}


