.level-block {
  padding: 1rem;
  border-radius: .9rem;
  background: white;

  .level-header {
    display: flex;
    align-items: center;
    border: 2px solid var(--ion-color-primary);
    border-radius: .9rem;
    margin-bottom: .5rem;

    .icon-container {
      position: relative;
      // border-top: 40px solid var(--ion-color-primary);
      // border-right: 20px solid transparent;
      width: 8rem;
      background: var(--ion-color-primary);
      clip-path: polygon(0px 0px, 100% 0%, 90% 100%, 0px 100%);
      padding: .5rem;

      .icon-xl {
        width: 7rem;
      }
    }

    .activity {
      font-size: 2.2rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1;
      margin-left: 1rem;
      padding-right: 1rem;
    }
  }

  .level-body {

    .counters {
      /* TODO: CSS variable */
      border: .3rem solid #DBDEE5;
      border-radius: .9rem;
      margin-bottom: .5rem;

      .counter {
        flex-basis: 100%;
        min-width: 40%;
        padding: .5rem;

        .count {
          font-weight: bold;
          font-size: 2.2rem;
          line-height: 1;
        }

        .text {
          text-transform: uppercase;
          /* TODO: CSS variable */
          color: #989CA5;
          font-size: 1rem;
        }
      }

      .separator {
        position: relative;
        min-width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* TODO: CSS variable same as svg elements */
        width: 20%;
        background: #dbdee5;
        clip-path: polygon(0% 0px, 100% 0%, 75% 100%, 25% 100%);
      }
    }



    .progress-bar {
      height: 3rem;
      border-radius: .9rem;
      background: #DBDEE5;

      .progress-bar-inner {
        height: 100%;
        // clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
      }

      .level-text-overlay {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: bold;
        /* TODO: CSS variable */
        text-shadow: 0px 1px 1px #00000080;
      }

    }
  }
}

// @media only screen 
//   and (min-width: 768px) {
//     .level-block{
//       width: 60%;
//     }
//     .level-header {
//       margin-bottom: 1.5rem;
//     }
// }