.logo-container {
  width: 7rem;
  height: 7rem;
}

.opened {
  color: #0BF565;
}

.closed {
  color: red;
}

.timetable-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.week-days {
  font-weight: 400;
}

.week-days, .hours {
  font-size: 1.4rem;
}